# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
log.txt


procesoAdminDeMemoria/Debug
procesoCPU/Debug
procesoPlanificador/Debug
procesoSwap/Debug
utiles/Debug

procesoAdminDeMemoria/config.txt
procesoAdminDeMemoria/Debug/log.txt
procesoAdminDeMemoria/log.txt

procesoCPU/config.txt
procesoCPU/Debug/log.txt
procesoCPU/log.txt

procesoPlanificador/config.txt
procesoPlanificador/Debug/log.txt
procesoPlanificador/log.txt

procesoSwap/config.txt
procesoSwap/Debug/log.txt
procesoSwap/log.txt

utiles/Debug/log.txt
utiles/log.txt


